.page-carousel {
  height: 240px;
  width: 200px;
}

.page-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-carousel {
  height: 150px;
  width: 120px;
  position: relative;
}

.overlay-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
