.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageSelector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 30px;
}

.imageSelector img {
  height: 80px;
  margin-bottom: 20px;
}

.imageViewer {
  max-width: 610px;
  max-height: 610px;
  display: flex;
  justify-content: space-around;
}

.imageViewer img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
