.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageSelector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 30px;
}

.imageSelector img {
  height: 80px;
  margin-bottom: 20px;
}

.imageSelector img:hover {
  cursor: pointer;
}

.imageViewer {
  max-width: 610px;
  max-height: 610px;
  display: flex;
  background-position: center;
  /* background-repeat: no-repeat;
    background-size: contain; */
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imageViewer img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* .imageViewer p {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8d8f9a;
  text-transform: uppercase;
} */
