.cart-container {
  display: flex;
  flex-direction: row;
}

.cart-general {
  margin-top: 24px;
}

.cart-dd {
  width: 37px;
  height: 37px;
  margin: 8px 6px;
  margin-left: 0;
}

.cart-outerBox {
  width: 36px;
  height: 36px;
}

.cart-outerBox:hover {
  border: 1px solid #5ece7b;
  cursor: pointer;
}

.cart-selected {
  border: 1px solid #5ece7b;
}

.cart-box {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin: 2px;
}

.overlay-container {
  display: flex;
  flex-direction: row;
}

.overlay-general {
  /* margin-top: 24px; */
}

.overlay-dd {
  width: 21px;
  height: 21px;
  margin: 8px 6px;
  margin-left: 0;
}

.overlay-outerBox {
  width: 20px;
  height: 20px;
}

.overlay-outerBox:hover {
  border: 1px solid #5ece7b;
  cursor: pointer;
}

.overlay-selected {
  border: 1px solid #5ece7b;
}

.overlay-box {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 2px;
}
