.general {
  margin-top: 24px;
}

.container {
  display: flex;
  flex-direction: row;
}

.box {
  padding: 13px 22px;
  margin-top: 8px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #1d1f22;
  background-color: #fff;
  border: 2px solid #1d1f22;
}

.box:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1d1f22;
}

.selected {
  color: #fff;
  background-color: #1d1f22;
}
