.general {
  padding-top: 80px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  margin-left: 80px;
  max-width: 30%;
}

label {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}

.label {
  display: inline-block;
  margin-top: 36px;
}

.brand {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}

.name {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}



.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #1d1f22;
}

button {
  background-color: #5ece7b;
  padding: 16px 32px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  border: none;
  box-shadow: 7px 6px 26px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s all;
}

button:hover,
button:active {
  background-color: #5ece7ce0;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 20px 1px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}
