.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  margin: 0.75rem;
  align-items: flex-start;
}
